figure {
  display: inline-block;
}

figcaption {
  font-size: 25px;
  font-weight: 500;
}

.logo {
  height: 15em;
  padding: 1.5em 1.5em 0.5em 1.5em;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.Upload-header {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
}
