.Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2 );
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popup-container {
    position: relative;
    padding: 32px;
    width: 100%;
    height: 90%;
    max-width: 640px;
    max-height: 780px;
    background-color: white;
}

.Popup .Close_Popup {
    position: absolute;
    border: none;
    font-size: 24px;
    background-color: white;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.Upload{
    width: 100%;
    max-width: 600px;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 0;
}

.Upload-text{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
}
.Upload-text2{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Upload-button,.Upload-button1, .Change-file {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 20px;
    margin-left: 60px;
    width: 200px;
}

.Upload-button1{
    margin-left: 50px;
    background-color: green;
}

.Change-file{
    bottom: 165px;
    right: 100px;
    position: absolute;
    background-color: red;
}

.Upload-button1:disabled{
    margin-left: 50px;
    background-color: lightgreen;
}

.Upload-button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.Upload-frame {
    border-style: dotted;
    background-color: lightgray;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 550px;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}