.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #023856; /* Change text color to contrast with the background */
  font-size: 70px; /* Adjust the font size as needed */
  font-weight: 700;
}
.image-container {
  position: relative;
}
